.intro-section {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    font-size: 24px;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
}